<div id="article-page">
    <a class="button-back" href="/"><%=fa_icon "chevron-left" %> home</a>
    <div id="article-content">
        <h1 class="title-article">
            <%= @article.title %>
        </h1>
        <p class="article-body">
            <%= raw @article.body %>
        </p>
    </div>
</div>