// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$background-button-back: #073657;

#posts {
    .button-back {
        background-color: $background-button-back;
        border-radius: 5px;
        padding: 3px 6px;
        margin-top: 5px;
        height: fit-content;
        margin-right: 10px;
        color: white;
    }
    .header-sidebyside{
        display: flex;
        flex-direction: row;
    }
}