<div class="row">
<div class="col" id="posts">
    <div class="header-sidebyside">
    <a class="button-back" href="/"><%=fa_icon "chevron-left" %> home</a>
    <h1 class="titulo-lists">Artigos na categoria: <%= @category.name %></h1>
</div>
    <ul class="lista-style-none">
        <%@articles.each do |article|%>
        <li>
            <div class="post-card">
            <a href="/post/<%= article.id %>">
                <p class="post-card-title"><%= article.title %></p>
            </a>
            </div>
        </li>
        <%end%>
    </ul>
</div>
</div>